<div class="container p-4">
    <h2 class="text-primary m-3 text-center">Find Your Account </h2>
    <form [formGroup]="AccountGroup" (ngSubmit)="handelForme()">
      <div class="input-group">
        <input type="text" formControlName="accountId"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Find an account...">
        <button type="submit" class="btn btn-outline-primary mx-2"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>

   <ng-container *ngIf="Account$ | async as account; else erroTemplate">

    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2 class="m-3 text-center text-primary"> Your Next Operation Here <i class="fa-solid fa-arrow-down-long"></i></h2>
            <form method="post" [formGroup]="OperationsGroup" (ngSubmit)="handleOperationForm()">
              <div class="form-group mb-3">
                <select class="form-select" formControlName="operationType">
                  <option value="Credit">Credit</option>
                  <option value="Debit">Debit</option>
                  <option value="Transfer">Transfer</option>
                </select>
              </div>
              <div class="form-group mb-3" *ngIf="OperationsGroup.value.operationType === 'Transfer'">
                <label class="form-label">Destination Account</label>
                <input type="text" class="form-control"  formControlName="accountIdDestination" placeholder="Destination Account">
              </div>
              <div class="form-group mb-3">
                <label class="form-label">Amount</label>
                <input type="text" class="form-control"  formControlName="amount" placeholder="Enter Amount">
              </div>
              <div class="form-group mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control"  formControlName="description" placeholder="Enter description">
              </div>
              <div class="d-grid mt-2">
                <button type="submit" class="btn btn-outline-primary" >save&nbsp; <i class="fa-solid fa-arrow-right"></i></button>
              </div>
          </form>
          </div>
          <div class="col-sm">
            <h2 class="mt-3"> Account Balance : <span class="text-primary">{{account.balance | number : '1.2-2'}} MAD</span></h2>
            <h4 class="text-primary m-3 text-center">Operations </h4>
            <div class="table-responsive mt-3">
                <table class="table table-hover">
                  <thead class="text-white">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Date</th>
                      <th scope="col">Type</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let op of account.operations">
                      <td class="cell">{{op.id}}</td>
                      <td class="cell">{{op.dateOperation | date : 'MMM d, y HH:mm:ss'}}</td>
                      <td class="cell">{{op.type}}</td>
                      <td class="cell text-end">{{op.amount | number : '1.2-2'}} MAD</td>
                      <td class="cell text-end">{{op.description}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <ul class="nav nav-pills">
                  <li *ngFor="let item of [].constructor(account.totalePages) let page=index">
                    <a [ngClass]="page == currentPage? 'btn-primary' : 'btn-outline-primary'" (click)="goToPage(page)" class="btn ms-1">{{page + 1}}</a>
                  </li>
                </ul>
          </div>
        </div>
      </div>

    
   </ng-container>
   <ng-template #erroTemplate>
      <ng-container *ngIf="errorMessage && AccountGroup.value.accountId">
        <div class="text-danger text-center mt-4"> <h5> Account Not Found </h5></div>
      </ng-container>
   </ng-template>
</div>
