table {
    width: 100%;
  }
  example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  thead{
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  tr:hover .cell{
    color: #007bff;
  }