



<div class="container p-4">
  <h5 class="text-center"><a class="nav-link" routerLink="/customers/add">New Cutomer <i class="fa-solid fa-user-plus"></i></a></h5>
  <form [formGroup]="customerGroup" (ngSubmit)="handelForme()">
    <div class="input-group">
      <input type="text" formControlName="keyword"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Find a Customer...">
      <button type="submit" class="btn btn-outline-primary mx-2"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </form>
  
  <div class="table-responsive mt-3">
    <table class="table table-hover">
      <thead class="text-white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers | async">
          <td class="cell">{{c.id}}</td>
          <td class="cell">{{c.nom}}</td>
          <td class="cell">{{c.email}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" (click)="updateCustomer(c)" class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></button>
              <button type="button" (click)="deleteCustomer(c)" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></button>
              <button type="button" (click)="customerAccounts(c)" class="btn btn-outline-success">Accounts <i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>






    
    
  
 
  
  
